<div class="services-page">
    <div class="container">
    
        <!-- Услуги -->
        <section id="services-about">
            <div class="services-about-header">
                <h1 class="kolem-header">Услуги</h1>
            </div>
    
            <div class="services-about-content">
                
                <!-- First -->
                <div class="sac-first">
                    <p>Архитектурное бюро предлагает своим клиентам весь спектр услуг по архитектурному проектированию и дизайну интерьера, а также предоставляет услуги по 3D визуализации, разработке макетов, производству мебели и деревянных изделий.</p>
                </div>
                
                <!-- Second -->
                <div class="sac-second">
                    <h2 class="section-header">АРХИТЕКТУРНОЕ ПРОЕКТИРОВАНИЕ</h2>
    
                    <div class="sac-second-content flex-container">
                        <div class="sac-item flex-item flex-item-width-50">
                            <h3 class="section-sub-header">КОНЦЕПТУАЛЬНЫЙ ПРОЕКТ</h3>
                        
                            

                            <ul class="list-circle">
                                <li>разработка предпроектного предложения</li>
                                <li>архитектурное решение</li>
                                <li>планы этажей, разрезы и фасады</li>
                                <li>3D визуализация</li>
                                <li>схема планировочной организации участка (привязка дома к участку на основании топосъемки)</li>                                
                            </ul>
                            <p>цена договорная</p>
        
                        </div>
        
                        <div class="sac-item flex-item flex-item-width-50">
                            <h3 class="section-sub-header">ЭСКИЗНЫЙ ПРОЕКТ</h3>
                            
                            <ul class="list-circle">
                                <li>разработка предпроектного предложения</li>
                                <li>архитектурное решение</li>
                                <li>планы этажей, разрезы и фасады</li>
                                <li>3D визуализация</li>
                                <li>технико-экономические показатели (ведомость отделки фасадов, спецификация оконных и дверных проемов)</li>
                                <li>схема планировочной организации участка (привязка дома к участку на основании топосъемки)</li>                                
                            </ul>        
                            <p>цена договорная</p>
                           
                        </div>
                    </div>                    
    
                </div>
    
                <!-- Third -->
                <div class="sac-third">
                    <h2 class="section-header">ДИЗАЙН ИНТЕРЬЕРА</h2>
    
                    <div class="sac-content flex-container flex-wrap">

                        <div class="sac-item flex-item flex-item-width-50">
                            <h3 class="section-sub-header">МИНИМАЛЬНЫЙ ДИЗАЙН ПРОЕКТ</h3>
                        
                            <ul class="list-circle">
                                <li>разработка дизайн концепции</li>
                                <li>планировочное решение</li>
                                <li>3D визуализация</li>
                                <li>падборка материалов</li>
                            </ul>
        
                            <p>3000 тг за квадратный метр</p>
        
        
                        </div>
        
                        <div class="sac-item flex-item flex-item-width-50">
                            <h3  class="section-sub-header">СТАНДАРТНЫЙ ДИЗАЙН ПРОЕКТ</h3>
                    
                            <ul class="list-circle">
                                <li>разработка дизайн концепции</li>
                                <li>планировочное решение</li>                        
                                <li>3D визуализация</li>
                                <li>строительные чертежи</li>
                                <li>падборка материалов</li>
                            </ul>
        
                            <p>4000 тг за квадратный метр</p>
                        </div>
        
                        <div class="sac-item flex-item flex-item-width-50">
                            <h3 class="section-sub-header">ПОЛНЫЙ ДИЗАЙН ПРОЕКТ</h3>
                    
                            <ul class="list-circle">
                                <li>разработка дизайн концепции</li>
                                <li>планировочное решение</li>                        
                                <li>3D визуализация</li>
                                <li>полный пакет строительных чертежей</li>
                                <li>падборка материалов</li>
                                <li>авторский надзор за ходом ремонтно-отделочных работ</li>
                            </ul>
        
                            <p>5000 тг за квадратный метр</p>
                        </div>
                    </div>                    
    
                </div>
    
            </div>
    
        </section>


        <!-- STEPS -->
        <section id="services-steps">
            <h2 class="section-header text-center">ЭТАПЫ РАБОТЫ НАД ПРОЕКТОМ</h2>
            <h3 class="section-sub-header text-center">Мы разделяем работу на несколька этапов, для максимальной эффективности</h3>

            <div class="section-steps-content flex-container">


                <!-- <img src="../assets/images/steps.png" alt="" width="100%"> -->


                <div class="steps">

                    <!-- First Row -->
                    <div class="steps-first-row flex-container">
                        
                        <!-- Step -->
                        <div class="step flex-container">

                            <div class="ssc-item">
                                <div class="ssc-item-left text-center">                        
                                    <div class="rectangle rectangle-black">
                                        <img src="../assets/images/1.png" alt="">
                                    </div>
                                    <span>Встреча с дизайнером</span>
                                </div>                    
                            </div>
    
                            <div class="arrow-right">
                                <img src="../assets/images/arrow_right.png" alt="" width="100%">
                            </div>
                        </div>                

                        <!-- Step -->
                        <div class="step flex-container">

                            <div class="ssc-item">
                                <div class="ssc-item-left text-center">                        
                                    <div class="rectangle rectangle-black">
                                        <img src="../assets/images/paper.png" alt="">
                                    </div>
                                    <span>Заключение договора</span>
                                </div>                    
                            </div>
    
                            <div class="arrow-right">
                                <img src="../assets/images/arrow_right.png" alt="" width="100%">
                            </div>
                        </div>                

                        <!-- Step 3 -->
                        <div class="step flex-container">

                            <div class="ssc-item">
                                <div class="ssc-item-left text-center">                        
                                    <div class="rectangle rectangle-black">
                                        <img src="../assets/images/money.png" alt="">
                                    </div>
                                    <span>Предварительная оплата</span>
                                </div>                    
                            </div>
    
                            <div class="arrow-right">
                                <img src="../assets/images/arrow_right.png" alt="" width="100%">
                            </div>
                        </div>                

                        <!-- Step 4 -->
                        <div class="step flex-container">

                            <div class="ssc-item">
                                <div class="ssc-item-left text-center">                        
                                    <div class="rectangle rectangle-black">
                                        <img src="../assets/images/measure.png" alt="">
                                    </div>
                                    <span>Выезд на замеры</span>
                                </div>                    
                            </div>
    
                            <div class="arrow-right">
                                <img src="../assets/images/arrow_right.png" alt="" width="100%">
                            </div>
                        </div>  

                        <!-- Step 5 -->
                        <div class="step flex-container">

                            <div class="ssc-item">
                                <div class="ssc-item-left text-center">                        
                                    <div class="rectangle rectangle-black">
                                        <img src="../assets/images/monitor.png" alt="">
                                    </div>
                                    <span>Разработка дизайн-проекта</span>
                                </div>                    
                            </div>
    
                            <div class="arrow-right">
                                <img src="../assets/images/arrow_right.png" alt="" width="100%">
                            </div>
                        </div>   
                        
                         <!-- Step 6 -->
                         <div class="step flex-container">

                            <div class="ssc-item">
                                <div class="ssc-item-left text-center">                        
                                    <div class="rectangle rectangle-black">
                                        <img src="../assets/images/hand.png" alt="">
                                    </div>
                                    <span>Подписание Акта выполненных работ</span>
                                </div>                    
                            </div>
    
                            <div class="arrow-right">
                                <img src="../assets/images/arrow_right.png" alt="" width="100%">
                            </div>
                        </div>  
    
                        <!-- Step 7 -->
                        <div class="step flex-container">

                            <div class="ssc-item">
                                <div class="ssc-item-left text-center">                        
                                    <div class="rectangle rectangle-black">
                                        <img src="../assets/images/money.png" alt="">
                                    </div>
                                    <span>Оплата оставшейся суммы</span>
                                </div>                    
                            </div>

                        </div>   
                              

                    </div>

                    <!-- -->
                    <div class="second-step">

                        <!-- Rectangle -->
                        <div>
                            <img src="../assets/images/rec.png" alt="">
                        </div>

                        <!-- Steps -->
                        <div class="flex-container second-step-list">

                             <!-- Step 8 -->
                            <div class="step flex-container">

                                <div class="ssc-item">
                                    <div class="ssc-item-left text-center">                        
                                        <div class="rectangle rectangle-black">
                                            <img src="../assets/images/plan.png" alt="">
                                        </div>
                                        <span>Планировка</span>
                                    </div>                    
                                </div>
                                        
                            </div>

                             <!-- Step -->
                            <div class="step flex-container">

                                <div class="ssc-item">
                                    <div class="ssc-item-left text-center">                        
                                        <div class="rectangle rectangle-black">
                                            <img src="../assets/images/monitor.png" alt="">
                                        </div>
                                        <span>Визуализация</span>
                                    </div>                    
                                </div>
                            </div>

                             <!-- Step -->
                            <div class="step flex-container">

                                <div class="ssc-item">
                                    <div class="ssc-item-left text-center">                        
                                        <div class="rectangle rectangle-black">
                                            <img src="../assets/images/circul.png" alt="">
                                        </div>
                                        <span>Чертежи</span>
                                    </div>                    
                                </div>
                                        
                            </div>

                        </div>

                    </div>
                    

                </div>                
                
               

            </div>
        </section>


        <!-- Услуги -->
        <section id="services-about" class="margin-top-50">
            <div class="services-about-header">                
            </div>
    
            <div class="services-about-content">
                                                
                <!-- Second -->
                <div class="sac-second">
                    <h2 class="section-header">3D ВИЗУАЛИЗАЦИЯ</h2>
    
                    <div class="sac-second-content flex-container">
                        <div class="sac-item flex-item flex-item-width-50">
                            <h3 class="section-sub-header">ВИЗУАЛИЗАЦИЯ ЭКСТЕРЬЕРА</h3>
                        
                            <ul class="list-circle">
                                <li>3D визуализация (количество картинок обсуждается )</li>
                            </ul>        
                            выполняется на основании следующих предоставляемых материалов:
                            <ul class="list-circle">
                                <li>планы</li>
                                <li>разрезы</li>
                                <li>фасады</li>
                                <li>отделочные материалы</li>
                                <li>месторасположение объекта</li>
                            </ul>        
                            <p>цена договорная</p>
        
                        </div>
        
                        <div class="sac-item flex-item flex-item-width-50">
                            <h3 class="section-sub-header">ВИЗУАЛИЗАЦИЯ ИНТЕРЬЕРА</h3>
                        
                            <ul class="list-circle">
                                <li>3D визуализация (количество картинок обсуждается )</li>
                            </ul>        
                            выполняется на основании следующих предоставляемых материалов:
                            <ul class="list-circle">
                                <li>планы</li>
                                <li>разрезы стен</li>
                                <li>фасады</li>
                                <li>отделочные материалы</li>
                            </ul>        
                            <p>цена договорная</p>
                        </div>
                    </div>                    
    
                </div>     
                
                <h2 class="section-header">ИЗГОТОВЛЕНИЕ РАЗЛИЧНЫХ МАКЕТОВ ПРОИЗВОДСТВА МЕБЕЛИ И ДЕРЕВЯННЫХ ИЗДЕЛИЙ </h2>
    
            </div>
    
        </section>
    
    </div>
</div>