<section id="project-details-section">
    
    <!-- Header -->
    <section id="project-details-header-section">
        
        <img src="../assets/images/interier_01_details_header.png" alt="">


        <div class="project-meta">
            <div class="container">
                <h1>ДИЗАЙН 1-КОМНАТНОЙ КВАРТИРЫ В Г. АЛМАТЫ</h1>

                <ul class="project-meta-menu">
                    <li>
                        <div>
                            <I>Icon</I>
                            <span>Год проектирования 2011</span>
                        </div>
                    </li>
                </ul>
            </div>            
        </div>

    </section>

    <!-- Section Full Photo -->
    <section class="full-photo-list">
        <div class="container">
            <div class="full-photo-item">
                <img src="../assets/images/interier_01.png" alt="">
            </div>
            <div class="full-photo-item">
                <img src="../assets/images/interier_01_02.png" alt="">
            </div>
        </div>    
    </section>
    
    
    <!-- Section: Double Photo -->
    <section class="short-photo-list-section">
        <div class="container">
            <div class="short-photo-list">
                <div class=short-photo>
                    <img src="../assets/images/interier_01_short_01.png" alt="">
                </div>
                <div class=short-photo>
                    <img src="../assets/images/interier_01_short_01.png" alt="">
                </div>
            </div>            
        </div>        
    </section>
</section>

