<section id="project-details-section" *ngIf="project" class="background-gray">
    
    <!-- Header -->
    <section id="project-details-header-section">
        
        <img src="{{project.mainImage}}" alt="" *ngIf="project.mainImage">

        <!-- Shadow -->
        <div class="shadow">
        </div>

        <div class="project-meta">
            <div class="container">
                <h1>{{ project.title }}</h1>

                <ul class="project-meta-menu">

                    <!-- Year -->
                    <li>
                        <div class="meta-single">
                            <img src="../assets/images/calendar.png" alt="">
                            <span>Год проектирования: {{ project.year }}</span>
                        </div>
                    </li>

                    <!-- Status -->
                    <li>
                        <div class="meta-single">
                            <img src="../assets/images/pen.png" alt="">
                            <span>Статус: {{ project.status }}</span>
                        </div>
                    </li>

                    <!-- Area -->
                    <li>
                        <div class="meta-single">
                            <img src="../assets/images/full.png" alt="">
                            <span>Площадь:
                                <span *ngIf="project.area && project.area != '0'">
                                    {{ project.area }} м2
                                </span>                                
                            </span>
                        </div>
                    </li>

                    <!-- Location -->
                    <li>
                        <div class="meta-single">
                            <img src="../assets/images/location.png" alt="">
                            <span>Расположение: {{ project.location }}</span>
                        </div>
                    </li>

                </ul>
            </div>            
        </div>
        

    </section>

    <!-- Section Full Photo -->
    <section class="full-photo-list" *ngIf="project.singleImages">
        <div class="container">
            <div class="full-photo-item" *ngFor="let si of project.singleImages">
                <img src="{{ si }}" alt="">
            </div>            
        </div>    
    </section>
    
    
    <!-- Section: Double Photo -->
    <section class="short-photo-list-section" *ngIf="project.doubleImages">
        <div class="container">
            <div class="short-photo-list">
                <div class=short-photo *ngFor="let di of project.doubleImages">
                    <img src="{{ di }}" alt="">
                </div>
            </div>            
        </div>        
    </section>
</section>

