<div>

  <!-- Header -->
  <header>

    <div class="container flex-container">
        
        <!-- SECTION: Logo -->
        <section id="logo-section" class="flex-item">
            <a routerLink="/projects">
                <img src="./assets/images/logo.png" alt="Kolem Architecture"/>
            </a>          
        </section>

        <!-- SECTION: Main Menu -->
        <section id="main-menu-section" class="flex-item flex-item-right">
          <ul id="main-menu">
            <li>
              <a routerLink="/projects" routerLinkActive="active">Проекты</a>
            </li>
            <li>
              <a routerLink="/services" routerLinkActive="active">Услуги</a>
            </li>
            <li>
              <a routerLink="/about" routerLinkActive="active">О нас</a>
            </li>
            <li>
              <a routerLink="/contacts" routerLinkActive="active">Контакты</a>
            </li>
          </ul>
        </section>

        <!-- SECTION: Social groups -->
        <section id="social-groups-section" class="flex-item">
            <ul id="social-groups">
                <li>
                    <a href="https://www.instagram.com/kolemarchitecture/" target="blank">
                        <img src="../assets/images/insta.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.behance.net/kolemarchitecture" target="blank">
                        <img src="../assets/images/be.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://m.facebook.com/kolemarchitecture" target="blank">
                        <img src="../assets/images/ff.png" alt="">
                    </a>
                </li>
            </ul>
        </section>
    </div>    

  </header>

  <!-- Content -->
  <section id="content">    
        <router-outlet></router-outlet>    
  </section>


  <!-- Footer -->
  <footer>
      <div class="container">
        <p>2018 TOO "Kolem Architecture" Все права защищены</p>
      </div>
  </footer>
  
</div>