/*
    HEADER
*/
header{
    //background-color: #ffffff;
    background-color: antiquewhite;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    // Logo
    section#logo-section{
        a{
            img{
                height: 30px;
            }
        }        
    }

    // Main menu
    section#main-menu-section{
        ul#main-menu{            
            li{
                float: left;
                padding: 0 15px;
                border-left: 1px solid #ccc;
                &:first-child{
                    border-left: none;
                }
                a{
                    color: #000000;
                    text-transform: uppercase;
                    &.active{
                        font-weight: bold;
                    }
                }
            }
        }
    }

    // Social groups
    section#social-groups-section{
        margin-left: 50px;
        ul#social-groups{
            li{
                float: left;
                padding-left: 10px;

                &:first-child{
                    padding-left: 0;
                }

                a{
                    img{
                        height: 15px;
                        width: auto;
                    }
                }
            }
        }
    }
}

/*
    CONTENT 
*/
section#content{
    min-height: 500px;
}

/* 
    FOOTER
*/
footer{}




