/*** HEADER ***/
header{
    //background-color: #ffffff;
    background-color: antiquewhite;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    section#logo-section{
        a{
            img{
                height: 30px;
            }
        }        
    }

    section#main-menu-section{
        ul#main-menu{            
            li{
                float: left;
                padding: 0 15px;
                border-left: 1px solid #ccc;
                &:first-child{
                    border-left: none;
                }
                a{
                    color: #000000;
                    text-transform: uppercase;
                }
            }
        }
    }
    section#social-groups-section{
        margin-left: 50px;
        ul#social-groups{
            li{
                float: left;
                padding-left: 10px;

                &:first-child{
                    padding-left: 0;
                }

                a{
                    img{
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
}

/*** CONTENT ***/
section#content{
    min-height: 500px;
}

/*** Footer ***/
footer{}




