/*
    HEADER
*/
header{
    //background-color: #ffffff;
    // background-color: antiquewhite;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    // Logo
    section#logo-section{
        a{
            img{
                height: 45px;
            }
        }        
    }

    // Main menu
    section#main-menu-section{
        ul#main-menu{            
            li{
                float: left;                                


                &:first-child{
                    border-left: none;

                    span{
                        display: none;
                    }

                }

                span{
                    width: 1.5px;
                    height: 12px;
                    display: inline-block;
                    background-color: #231F20;
                }

                a{
                    color: #231F20;
                    text-transform: uppercase;
                    padding: 0 15px;

                    &.active{
                        font-weight: bold;
                    }
                }
            }
        }
    }

    // Social groups
    section#social-groups-section{
        margin-left: 50px;
        ul#social-groups{
            li{
                float: left;
                padding-left: 10px;

                &:first-child{
                    padding-left: 0;
                }

                a{
                    img{
                        height: 15px;
                        width: auto;
                    }
                }
            }
        }
    }
}

/*
    CONTENT 
*/
section#content{
    min-height: 500px;
    background-color: #EDEDEE;    
}

footer{
    background-color: #EDEDEE;    

    p{
        margin: 0;
        padding: 16px 0;
    }
}

/* 
    FOOTER
*/
footer{
    .footer-text{
        padding-top: 130px;
        font-size: 12px;
        color: #808285;
    }
}




