<div class="contact-page">
    <div class="container">
        <div class="kolem-header-wrapper">
            <h1 class="kolem-header">Контакты</h1>
        </div>
        

        <div class="contact-page-content flex-container">

            <!-- Map -->
            <div class="flex-item contact-map">
                <body>
                    <!-- <div id="map" style="width:640px; height:600px"></div> -->
                </body>

                <div>
                        <div class="feature map" style="width:640px; height:400px">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.4429959367667!2d76.93853225122584!3d43.2630942790342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836fc5c1046f77%3A0x444d82e21b7a8ea2!2sKolem+Architecture!5e0!3m2!1sen!2skz!4v1543910122873" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                              
                </div>

            </div>

            <!-- Contact form -->
            <div class="contact-form-section padding-left-50">

                <div>
                    <p><b>Адрес:</b></p>
                    <p>БЦ Алматыгипрогор, Абылай хана проспект, 60 Алматы, Казахстан</p>
                </div>

                <div>
                    <p><b>E-mail:</b></p>
                    <p>info@kolem.kz</p>
                </div>

                <div>
                    <p><b>Контакты:</b></p>
                    <p>+7 (707) 702-34-11</p>
                    <p>+7 (707) 829-73-28</p>
                </div>


                <div class="margin-top-50">
                    <p><b>Отправить сообщение</b></p>

                    <form class="contact-form">
                        <div>
                            <p>Имя:</p>
                            <input type="text" placeholder=""/>
                        </div>

                        <div>
                            <p>Номер телефона::</p>
                            <input type="text" placeholder=""/>
                        </div>

                        <div>
                            <p>Е-mail адрес: :</p>
                            <input type="text" placeholder=""/>
                        </div>

                        <div>
                            <p>Сообщение: </p>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div>

                        <div>
                            <button class="pull-right">Отправить</button>
                        </div>
                        
                    </form>

                    


                </div>


            </div>

        </div>

    </div>
</div>