<div class="contact-page">
    <div class="container">
        
        <h1>Контакты</h1>

        <div class="contact-page-content flex-container">

            <!-- Map -->
            <div class="flex-item contact-map">
                <body>
                    <div id="map" style="width:640px; height:600px"></div>
                </body>
            </div>

            <!-- Contact form -->
            <div class="contact-form-section padding-left-50">

                <div>
                    <p><b>Адрес:</b></p>
                    <p>БЦ Алматыгипрогор, Абылай хана проспект, 60 Алматы, Казахстан</p>
                </div>

                <div>
                    <p><b>E-mail:</b></p>
                    <p>info@kolem.kz</p>
                </div>

                <div>
                    <p><b>Контакты:</b></p>
                    <p>+7 (707) 702-34-11</p>
                    <p>+7 (707) 829-73-28</p>
                </div>


                <div class="margin-top-50">
                    <p><b>Отправить сообщение</b></p>

                    <form class="contact-form">
                        <div>
                            <p>Имя:</p>
                            <input type="text" placeholder=""/>
                        </div>

                        <div>
                            <p>Номер телефона::</p>
                            <input type="text" placeholder=""/>
                        </div>

                        <div>
                            <p>Е-mail адрес: :</p>
                            <input type="text" placeholder=""/>
                        </div>

                        <div>
                            <p>Сообщение:/p>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div>

                        <div>
                            <button class="pull-right">Отправить</button>
                        </div>
                        
                    </form>

                    


                </div>


            </div>

        </div>

    </div>
</div>