<div class="container">
    <section id="projects-section">

        <!-- Header -->
        <section id="project-types-section">
            <ul id="project-types">
                <li *ngFor="let type of projectTypes">
                    <a (click)="filterByProjetType( type.ProjectTypeId )" [ngClass]="{'active': type.ProjectTypeId == typeId}">{{ type.Title }}</a>
                </li>            
            </ul>
        </section>
    
        <!-- Content -->
        <section id="projects-content-section">
    
            <div class="project" *ngFor="let project of projects"  routerLink="/projects/details/{{ project._id }}">
                
                <!-- Image -->
                <img src="{{ project.avatar }}" alt="" />

                <!-- Shadow -->
                <div class="shadow"></div>
                
                <!-- Meta -->
                <div class="meta">
                    <a routerLink="/projects/details/{{ project._id }}">
                        {{ project.title }}
                    </a>                
                    <div class=""></div>
                </div>
            </div>        
    
        </section>
    
    </section>
</div>