<div class="services-page">
    <div class="container">
    
        <!-- О Нас -->
        <section id="services-about">
            <div class="services-about-header">
                <h1>О НАС</h1>
            </div>
    
            <div class="services-about-content">
                              
                
                <!-- Second -->
                <div class="sac-second">                    
    
                    <div class="sac-second-content flex-container">
                        <div class="sac-item flex-item flex-item-width-50 padding-right-20">                            
                        
                           <p>
                               Kolem Architecture - это архитектурное бюро, которое работает в области архитектуры и дизайн интерьера. Компания основана на ценностях наследственными корнями , в точности, честностью и порядочностью в работе.
                           </p>
                           <p>Каждый проект компании является уникальным, в который заложена душа и архитектурное видение основополагателей и сплоченной команды. Созданные объекты представляют собой обогащение культурных ценностей и современного исскуства. </p>
        
                        </div>
        
                        <div class="sac-item flex-item flex-item-width-50">                            
                            <p>Мы стремимся создать долгосрочные проекты, в котором каждый клиент будет чувствовать комфорт, безопасность и теплоту. </p>
                            <p>Наша команда считает, что архитектура - это создание долгосрочного позитивного влияния на наше окружение. Поэтому мы измеряем наши проекты по их влиянию - на мировоззрение.</p>                                                                                                                                                            
                        </div>
                    </div>                    
    
                </div>
    
            </div>
    
        </section>            

        <!-- Команда -->
        <section id="services-about" class="margin-top-50">
            <div class="services-about-header">
                <h1>Команда</h1>
            </div>
    
            <div class="services-about-content">
                              
                
                <!-- Second -->
                <div class="sac-second">                    
    
                    <div class="sac-second-content flex-container">
                        <div class="sac-item flex-item flex-item-width-50 padding-right-20">                            
                        
                            <p>
                                <b>Абдилдаев Муратхан</b>
                            </p>
                            <p>Генеральный директор</p>                           
        
                        </div>
        
                        <div class="sac-item flex-item flex-item-width-50">                            
                            
                            <p>
                                <b>Ашимова Айгул</b>
                            </p>
                            <p>Управлющий директор</p>     
                        </div>
                    </div>                    

                    <!-- 2 -->
                    <div class="sac-second-content flex-container">
                        <div class="sac-item flex-item flex-item-width-50 padding-right-20">                            
                        
                            <p>
                                <b>Рысбеков Серик</b>
                            </p>
                            <p>Главный архитектор</p>                           
        
                        </div>
        
                        <div class="sac-item flex-item flex-item-width-50">                            
                            
                            <p>
                                <b>Абдилдаев Айдос</b>
                            </p>
                            <p>Ведущий архитектор</p>     
                        </div>
                    </div> 

                    <!-- 3 -->
                    <div class="sac-second-content flex-container">
                        <div class="sac-item flex-item flex-item-width-50 padding-right-20">                            
                        
                            <p>
                                <b>Абдилдаева Сабина</b>
                            </p>
                            <p>Дизайнер-художник</p>                           
        
                        </div>
        
                        <div class="sac-item flex-item flex-item-width-50">                            
                            
                            <p>
                                <b>Жетписбаева Амина</b>
                            </p>
                            <p>IT-специалист</p>     
                        </div>
                    </div> 


                    <!-- 4 -->
                    <div class="sac-second-content flex-container">
                        <div class="sac-item flex-item flex-item-width-50 padding-right-20">                            
                        
                            <p>
                                <b>Сулейменов Медет</b>
                            </p>
                            <p>Архитектор</p>                           
        
                        </div>
        
                        <div class="sac-item flex-item flex-item-width-50">                            
                            
                            <p>
                                <b>Шалбаев Есжан</b>
                            </p>
                            <p>Архитектор</p>     
                        </div>
                    </div> 

                    <!-- 5 -->
                    <div class="sac-second-content flex-container">
                        <div class="sac-item flex-item flex-item-width-50 padding-right-20">                            
                        
                            <p>
                                <b>Дуйсенгалиев Мадияр</b>
                            </p>
                            <p>Архитектор-визуализатор</p>                           
        
                        </div>
                                
                    </div> 
    
                </div>
    
            </div>
    
        </section>            
    
    </div>
</div>