
/**
 * THEME
**/
html, body{
    padding: 0 !important;
    margin: 0 !important;
}

.container{
    width: 1000px;
    margin: 0 auto;
}



/**
 * BOOTSTRAP
 **/ 
a{
  text-decoration: none;
  color: #000000;  
}
 
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
 
.pull-left{
    float: left;
}

.pull-right{
    float: right;
}


.flex-container{
    display: flex;            

    // WRAP
    &.flex-wrap{
        flex-wrap: wrap;
    }

    &.flex-no-wrap{
        flex-wrap: nowrap;
    }

    // DIRECTION
    &.flex-direction-row{
        flex-direction: row;
    }

    &.flex-direction-column{
        flex-direction: column;
    }

    // Content
    &.flex-content-space-between{
        justify-content: space-between;
    }

    &.flex-content-vertically-center{
        align-items: center;
    }


    
    .flex-item{        

        &.flex-item-width-50{
            width: 50%;
        }
        
        &.flex-item-right{
            margin-left: auto;
        }
    }


}


.text-center{
    text-align: center;
}

.margin-top-50{
    margin-top: 50px;
}

.padding-right-20{
    padding-right: 20px;
}

.padding-left-50{
    padding-left: 50px;
}


.shadow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
}

.background-gray{
    background-color: #eee;
}